#depoimentos {
    margin-bottom: 100px;
}

.bloco-depoimento {
    background-color: var(--roxo);
    padding: 83px 162px;
    border-radius: var(--radius-estrutura);

    & >div {
        display: flex;
        align-items: center;

        & h1 {
            font-size: var(--paragrafo);
            color: var(--cinza);
            font-weight: 100;
        }

        & img {
            margin: 20px;
        }
    }

    &>p {
        color: var(--preto);
        font-size: var(--subtitulo);
        font-weight: bold;
        line-height: 40px;
        margin-bottom: 50px;
    }

    & i{
        color: var(--preto);
    }
}