#home {
    height: calc(100vh - 97px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: red;
}



.ilustracao-home {

    background-color: var(--preto-claro);
    border-radius: var(--radius-estrutura);

    & img{
        width: 100%;
    }
}