:root {
    
    --preto: #2b2b2b;
    --branco: #ffffff;
    --roxo: #BFAFF2;
    --amarelo: #F8D57E;
    --amarelo-fraco: #FDF5DF;
    --cinza: #808080;
    --preto-claro: #333333;

    --titulo: 60px;
    --titulo-mobile: 40px;
    --subtitulo: 24px;
    --subtitulo-mobile: 20px;
    --paragrafo: 18px;
    --paragrafo-mobile: 16px;

    --radius-botao: 30px;
    --radius-estrutura: 15px;



}